/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Main Styling */

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: #fff;
}

/* Utility classes */

.container
{
  margin: auto; /*it makes all to the middle*/
  max-width: 1100px;
  padding: 0 20px;
  overflow: auto;
}

/* Background dark */

.bg-dark {
   background: #272727;
   color: #fff;
}

/* Buttons */

.button {
   display: flex;
   justify-content: center;
   height: 100%;
   margin: 5px 0 30px;
}

/* Icons */

i {
   padding-right: 8px;
   font-size: 20px;
}

/* Navbar */

.menu {
   display: flex;
   padding: 10px;
}

.menu li {
   padding: 10px;
}

.menu li:hover {
   border-bottom: #aaa 1px solid;
}

#showcase {
   height: 300px;
   text-align: center;
   color: #fff;
   display: flex;
   flex-direction: column;
}

.show-content {
   margin-bottom: 50px;
   line-height: 2.7rem;
}

/* Main Content */

.main-content {
   display: flex;
   
}

.left-content {
   width: 50%;
   margin: 50px 50px 25px 25px;
}

.left-content div {
   margin-bottom: 50px;
}

.left-content h2,
.left-content h3,
.left-content p {
   margin-bottom: 10px;
}

.right-img {
   width: 50%;
   padding: 50px 40px 70px 70px;
   height: 540px;
   margin: 30px 0 0 30px;
}

/* Ref Buttons */


.btn {
   padding: 10px 20px;
   margin: 0px 5px;
   border-radius: 4px;
   color: #fff;
   font-size: 17px;
   font-weight: 600;
   border: none;
}

.btn:hover {
   cursor: pointer;
}

.btn-wiki {
   color: #333;
   background: #eeeded;
}

.btn-wiki:hover {
   background: #c0bdbd;
}

.btn-youtube {
   background: #d33131;
}

.btn-youtube:hover {
   background: #ac1818;
}

.btn-amazon {
   background: #f0a418;
}

.btn-amazon:hover {
   background: #ca880d;
}

/* Quotes */

.quotes {
   text-align: center;
   padding: 40px;
}

.quotes h3 {
   font-weight: 600;
}

/* Acheivements */

.award-heading {
   text-align: center;
   font-size: 25px;
   margin: 40px;
   font-weight: 600;
   letter-spacing: 1.5px;
}

.award-heading i {
   font-size: 27px;
}

.awards {
   display: flex;
}

.box {
   width: 25%;
   background: #fdfdfd;
   border: #ccc solid 0.5px;
   margin: 10px;
   padding: 10px;
   line-height: 20px;
}

.box p,
.box h4 {
   margin-bottom: 5px;
}

/* Poetry and Poems */

.poetry {
   display: flex;
}

.p-box {
   width: 50%;
   margin: 60px 30px 60px 30px;
   padding: 10px;
}

.p-box h2 {
   margin-bottom: 60px;
   font-size: 30px;
   text-align: center;
   font-weight: bold;
   letter-spacing: 1.2px;
}

.poetry ul{
   list-style: disc;
}

/* Footer */

.footer-items {
   display: flex;
   margin: 50px 10px;
}

.f-box {
   margin-left: 20px;
   padding-right: 30px;
   border-right: #555 1px dotted;
}

.f-box h4 {
   margin-bottom: 15px;
   font-weight: 600;
}

.f-box p {
   font-size: 14px;
}

.f-box-40 {
   width: 40%;
}

.f-box-20 {
   width: 20%;
}

.text-dark {
   color: #716d6d;
}

.text-blue {
   color: #37378d;
}
.b-none {
   border: none;
}

